.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    
    }
    
    .imageUpdates {
       object-fit: contain;;
    }

    button {
      height: 60px;
      background-color:blueviolet;
      color: white;
      font-size: 20px;
    }